<?xml version="1.0" encoding="utf-8"?>
<launch>
  <node name="controller_spawner_stopped" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/robot" args=" --stopped
					   left_joint_position_controller
					   right_joint_position_controller
					   head_position_controller
					   left_joint_velocity_controller
					   right_joint_velocity_controller
					   left_joint_effort_controller
					   right_joint_effort_controller
					   " />  
</launch>
